* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: darkseagreen;
}

div {
  /* border: 2px solid black; */
}

.game {
  background-image: url("image.jpg");
  border: none;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game_container {
  background-color: transparent;
  /* border: 2px solid black; */
  border-radius: 2rem;
  padding: 0.5rem;
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.row {
  background-color: transparent;
  border: none;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.col {
  border: 4px solid white;
  border-radius: 2rem;
  flex: 1;
  flex-shrink: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.moves {
  font-size: 2rem;
  border: none;
}
